{% for article in site.articles -%}
  {% if article.anchor -%}
    {% assign generate = true -%}
    {% break -%}
  {% endif -%}
{% endfor -%}
{% if generate == true -%}
  <nav
    id='sticky-header'
    class='article-navigation article-navigation__bar--clean'
  >
    <div class='article-navigation__bar'>
      {% for article in site.articles -%}
        {% if article.anchor -%}
          <a
            class='article-navigation__button'
            data-target='{{ article.anchor }}'
            href='#{{ article.anchor }}'
          >
            {{- article.title | default: article.anchor }}
          </a>
        {% endif -%}
      {% endfor -%}
    </div>
  </nav>
{% endif -%}
