{% for article in site.articles -%}
  {% if article.anchor -%}
    {% assign generate = true -%}
    {% break -%}
  {% endif -%}
{% endfor -%}
{% if generate == true -%}
  <nav id='landing-nav' class='landing-nav'>
    <div class='container background border'>
      {% for article in site.articles -%}
        {% if article.anchor -%}
          <a data-target='{{ article.anchor }}' href='#{{ article.anchor }}'>
            {{- article.title | default: article.anchor }}
          </a>
        {% endif -%}
      {% endfor -%}
    </div>
  </nav>
{% endif -%}
