{% for page in site.pages -%}
  {% if page.anchor -%}
    {% assign generate = true -%}
    {% break -%}
  {% endif -%}
{% endfor -%}
{% if generate == true -%}
  <nav id='landing-nav' class='landing-nav'>
    <div class='container background border'>
      {% for page in site.pages -%}
        {% if page.anchor -%}
          <a data-target='{{ page.anchor }}' href='#{{ page.anchor }}'>
            {{- page.title | default: page.anchor }}
          </a>
        {% endif -%}
      {% endfor -%}
    </div>
  </nav>
{% endif -%}
