/* https://haliphax.dev/2022/06/ko-fi-icon-for-fontawesome/ */

/* ko-fi icon */
.fa-ko-fi::before {
  content: '\f0f4';
  display: inline-block;
  font-size: 1.1em;
  line-height: 0.45em;
  margin: -0.45em 0 0 -0.2em;
  overflow-y: hidden;
  padding-top: 0.45em;
}
.fa-ko-fi::after {
  color: #ff5e5b9d;
  content: '\f004';
  font-size: 50%;
  font-weight: 900;
  margin: 0.5em 0 0 -2em;
  position: absolute;
}
