/* me: (╯°□°）╯ mobile: ︵ ┻━┻ */
@media screen and (max-width: 480px) {
  .links {
    gap: 10px;
    transform: scale(0.7);
    margin-bottom: 3rem;
    padding: 25px;
    background-color: var(--dark-color-zero);
    border-radius: 25px;
  }
}
