/* Sidebar */
nav.stickybar {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 60px;
  height: var(--vh);
  background-color: var(--dark-color-zero);
  border-top-right-radius: 25px;
}
/* Add spacing at the top */
nav.stickybar::before {
  content: '';
  height: 10px;
}
nav.stickybar > button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 45px;
  height: 45px;
  transition: background-color 0.3s ease;
  background-color: var(--dark-color-zero);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}
nav.stickybar > button:hover {
  background-color: var(--dark-color-one);
}
nav.stickybar > button:active {
  background-color: var(--dark-color-two);
}
.active {
  background-color: var(--accent-color) !important;
  cursor: default !important;
}
/* --- */
